:root {
  --color-light-gray: #ccc;
  --color-dark-gray: #666;
}

.app-shell {
  background: white;
  height: 100vh;

  display: grid;
  grid-template-columns: [workspace] minmax(150px, 1fr) [details] minmax(450px, 3fr) [end];
  grid-template-rows: [header] min-content [workspace inspector] 300px [events] minmax(300px, 1fr) [end];
  gap: 1px;
}

.app-header {
  grid-column: 1 / end;
  border-bottom: 1px solid #9999ee;
}

.app-workspace {
  grid-column: workspace;
  grid-row: workspace / end;
  border-right: 1px solid var(--color-dark-gray)
}

.app-inspector {
  grid-column: details;
  grid-row: inspector;
  border-bottom: 1px solid var(--color-light-gray)
}

.app-events {
  grid-column: details;
  grid-row: events;
}

h2 {
  background: #f6f6f6;
  border-bottom: 1px solid var(--color-light-gray)
}

.app-events h2 {
  margin-bottom: 0;
}

h3.artifact-id-banner {
  padding-left: 1rem;
}

.artifact-row {
  margin: 0 0 1rem;
}
.metadata-field {
  text-align: right;
  color: var(--color-dark-gray);
}

.metadata-control .button {
  margin: 0;
}

.metadata-control select {
  margin: 0;
}

#event-log {
  margin-top: 0;
  font-size: 0.8rem;
  overflow-y: auto;
}

#event-log_wrapper {
  font-size: 0.8rem;
}

#event-log_wrapper table {
  margin-top: 0 !important;
}